# IDE related
.vs
.vscode/settings.json

# OS related
.DS_Store

# Build files
build/*
build-linux/*
bin
obj
__pycache__
/dist
/SimpleImageIO.egg-info

# Compiled shared libraries
Runtimes/*

# Generated images
PyTest/*.png
PyTest/*.exr
SimpleImageIO.Benchmark/*.png
SimpleImageIO.Benchmark/*.jpg
SimpleImageIO.Benchmark/*.exr