# IDE related
.vs
.vscode/settings.json
.idea
.ionide

# OS related
.DS_Store

# Build files
build/*
build-linux/*
bin
obj
__pycache__
/dist
/SimpleImageIO.egg-info
launchSettings.json

# Profiler output
*.nettrace
*.speedscope.json

# Compiled shared libraries
Runtimes/*

# Generated images
PyTest/*.png
PyTest/*.exr
PyTest/*.pfm
!PyTest/ImageWithAlpha.png
!PyTest/memorial.pfm
!PyTest/NoisyRender.exr
SimpleImageIO.Benchmark/*.png
SimpleImageIO.Benchmark/*.jpg
SimpleImageIO.Benchmark/*.exr
SimpleImageIO.Benchmark/*.bmp
/denoised*.exr
/tonemapped*.exr