# IDE related
.vs
.vscode/settings.json
.idea

# OS related
.DS_Store

# Build files
build/*
build-linux/*
bin
obj
__pycache__
/dist
/SimpleImageIO.egg-info
launchSettings.json

# Compiled shared libraries
Runtimes/*

# Generated images
PyTest/*.png
PyTest/*.exr
PyTest/*.pfm
!PyTest/ImageWithAlpha.png
!PyTest/memorial.pfm
SimpleImageIO.Benchmark/*.png
SimpleImageIO.Benchmark/*.jpg
SimpleImageIO.Benchmark/*.exr
SimpleImageIO.Integration/denoised*.exr