.flipbook {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.image-container {
    overflow: hidden;
    background-color: #1e2323;
    user-select: none;
    position: relative;
    width: 100%;
    flex: 1;
    min-height: 400px;
}

    .image-container:focus {
        outline: none;
    }

.method-key {
    border-radius: 2px;
    border-color: #b1a2a2;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    background-color: lightgray;
    box-shadow: 1px 1px;
}

.image {
    display: none;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}
    .image.visible {
        display: block;
    }

.method-label {
    background-color: #d5e1e6;
    padding: 4px;
    border: none;
    padding: 0.4em;
}
    .method-label.visible {
        background-color: #eebe6c;
        padding: 0.5em;
    }

.image-placer {
    position: absolute;
}