.flipbook {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.image-container {
    overflow: hidden;
    background-color: #1e2323;
    user-select: none;
    position: relative;
    width: 100%;
    flex: 1;
    min-height: 600px;
}

    .image-container:focus {
        outline: none;
    }

.method-key {
    border-radius: 2px;
    border-color: #b1a2a2;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    background-color: lightgray;
    box-shadow: 1px 1px;
}

.image {
    display: none;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}
    .image.visible {
        display: block;
    }

.method-label {
    background-color: #d5e1e6;
    padding: 4px;
    border: none;
    padding: 0.4em;
}
    .method-label.visible {
        background-color: #eebe6c;
        padding: 0.5em;
    }

.image-placer {
    position: absolute;
}

.tmo-script {
    display: none;
}
    .tmo-script.visible {
        display: block;
    }

.tmo-exposure {
    display: none;
}
    .tmo-exposure.visible {
        display: block;
    }

.tmo-falsecolor {
    display: none;
}
    .tmo-falsecolor.visible {
        display: block;
    }

#magnifier {
    display: none;
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 9001;
}
    #magnifier.visible {
        display: block;
    }

table.magnifier {
    border-spacing: 0;
}

td.magnifier {
    width: 70px;
    min-width: 70px;
    max-width: 70px;
    height: 70px;
    min-height: 70px;
    max-height: 70px;
    text-align: center;
    padding: 0;
}
    td.magnifier.selected {
        box-shadow: inset 0px 0px 0px 2px black;
    }

p.magnifier {
    margin: 0;
    font-size: 14px;
    text-shadow: 1px 1px black;
}