.flipbook {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.image-container {
    overflow: hidden;
    background-color: #1e2323;
    user-select: none;
    position: relative;
    width: 100%;
    flex: 1;
    min-height: 100px;
}

    .image-container:focus {
        outline: none;
    }

.method-key {
    border-radius: 2px;
    border-color: #b1a2a2;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    background-color: lightgray;
    box-shadow: 1px 1px;
}

.key {
    border-radius: 2px;
    border-color: #bbc2c5;
    border-style: solid;
    border-width: 1px;
    padding: 1pt;
    background-color: #ecf2f5;
    box-shadow: 1px 1px #bababa;
}

.image {
    display: none;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}
    .image.visible {
        display: block;
    }

.method-list:focus {
    outline: none;
}

.method-label {
    background-color: #d5e1e6;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    font-family: monospace;
    color: black;
    font-size: 12px;
    margin-right: 4px;
}
    .method-label.visible {
        background-color: #eebe6c;
    }
    .method-label.visible:hover {
        background-color: #e0b15f;
    }
    .method-label:focus {
        outline: none;
    }
    .method-label:hover {
        background-color: #bec8cc;
    }

.image-placer {
    position: absolute;
}

.tmo-script {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
}

div.magnifier {
    display: block;
    position: fixed;
    z-index: 9001;
}

table.magnifier {
    border-spacing: 0;
}

td.magnifier {
    width: 70px;
    min-width: 70px;
    max-width: 70px;
    height: 70px;
    min-height: 70px;
    max-height: 70px;
    text-align: center;
    padding: 0;
    vertical-align: middle;
}
    td.magnifier.selected {
        box-shadow: inset 0px 0px 0px 2px black;
    }

p.magnifier {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    font-family: monospace;
    color: black;
    text-rendering: optimizeLegibility;
    text-shadow: -2px -2px 4px #000, 2px -2px 4px #000, -2px 2px 4px #000, 2px 2px 4px #000;
    text-align: center;
}

.popup {
    position: absolute;
    z-index: 901;
    color: white;
    font-size: xx-large;
    font-family: monospace;
    text-align: center;
    width: 100%;
    height: 100%;
    align-content: center;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-shadow: -2px -2px 4px #000, 2px -2px 4px #000, -2px 2px 4px #000, 2px 2px 4px #000;
}

div.tools {
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

.toolsBtn {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 0px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: monospace;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    list-style: none;
    padding: 3px 8px;
    position: relative;
    user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.toolsBtn:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.toolsBtn:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.toolsBtn:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.toolsBtn:focus {
    outline: 1px transparent;
}

.toolsBtn:before {
    display: none;
}

.numberInput {
    appearance: none;
    background-color: #ffffff;
    border: 1px solid rgb(20 46 72 / 31%);
    border-radius: 0px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: black;
    display: inline-block;
    font-family: monospace;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    list-style: none;
    padding: 3px 8px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    width: 6em;
    margin-left: 8px;
}

.scriptArea {
    font-family: monospace;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.label {
    font-family: monospace;
    font-size: 12px;
    color: black;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 12px;
    background-color: #eee;
}

.checkLabel {
    position: relative;
    padding-left: 16px;
    cursor: pointer;
    font-size: 12px;
    font-family: monospace;
    user-select: none;
    color: black;
}
    .checkLabel input {
        display: none;
    }
    .checkLabel:hover input ~ .checkmark {
        background-color: #ccc;
    }

    .checkLabel input:checked~.checkmark {
        background-color: #5cb8d6;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .checkLabel input:checked~.checkmark:after {
        display: block;
    }

    .checkLabel .checkmark:after {
        left: 3.5px;
        top: 1px;
        width: 3px;
        height: 7px;
        border: solid white;
        border-width: 0 2.5px 2.5px 0;
        transform: rotate(45deg);
    }

.inputGroup {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    column-gap: 1em;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
}

.tmoSelectBtn {
    background-color: #d5e1e6;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    font-family: monospace;
    font-size: 12px;
    margin-right: 4px;
}
    .tmoSelectBtn.active {
        background-color: #eebe6c;
    }
    .tmoSelectBtn.active:hover {
        background-color: #e0b15f;
    }
    .tmoSelectBtn:focus {
        outline: none;
    }
    .tmoSelectBtn:hover {
        background-color: #bec8cc;
    }

.tmoContainer  {
    background-color: #d6e1e6;
    border-color: #909a9d;
    border-style: solid;
    border-width: 2px;
    margin-top: 8px;
    border-radius: 1px;
}

.tmoSelectGroup {
    display: flex;
    justify-content: flex-start;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-color: #5d7475;
}

.tmoCaption {
    font-size: 12px;
    margin-left: auto;
    font-family: monospace;
    margin-right: 4px;
    color: black;
}

.hint {
    font-size: 12px;
    font-family: monospace;
    color: black;
}